<div class="container text-center">

    <h1 class="align-items-center">Bienvenidos a la Gestion de Empleados </h1>
    <img src="/assets/empleados.png" class="img-fluid p-2" alt="...">
    
    <div class="row align-items-center">
        <div class="col p-2">
            <a mat-raised-button color="primary" routerLink="/crearempleado">
                <mat-icon>badge</mat-icon> 
                Crear Empleados
            </a>
        </div>

        <div class="col p-2">
            <a mat-raised-button color="warning" routerLink="/editarempleado">
                <mat-icon>edit</mat-icon> 
                Editar Empleados
            </a>

        </div>
    </div>
    

 
</div>
